@each $med, $size in $grid-breakpoints {
  @media only screen and (min-width: $size){
    .col-#{$med}{
      @include col-base($half-gutter-width);
    }
    // Apply the same style to all size columns
    @for $i from 1 through 12 {
      .col-#{$med}-#{$i} {
        @include col-base($half-gutter-width);
      }
    }
    .col-#{$med}{
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
    }
    @for $i from 1 through 12 {
      $width: $i/12;
      @include col-width($i, col-#{$med});
    }
  }
}
